.main {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: flex-start;
  padding: 6rem;
  min-height: 100vh;
}

.h1 {
  color:black
}

.h2 {
  color: black;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  margin-bottom: 10px;
}

@media (min-width: 250px) and (max-width: 500px) {
  .h1 {
    font-size: medium;
    color:'#000'
  }
  .text1 {
    font-size: medium;
    font-weight: 600;
  }

  .text2 {
    font-size: small;
  }
  .grid {
    grid-template-columns: 1fr;
    max-width: 30ch;
    text-align: center;
  }

}

/* Mobile */
@media (min-width: 500px) and (max-width: 700px) {
  .h1 {
    font-size: large;
  }
  .text1 {
    font-size: large;
    font-weight: 600;
  }

  .text2 {
    font-size: medium;
  }

  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    max-width: 60ch;
    text-align: center;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1800px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
    width: 60ch;
  }

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
